<html>
  <head>
    <title>Flexbox 0</title>
    <link rel="stylesheet" href="flexbox0.css" />
  </head>
  <body>
    <header>
      <h1>Complex Flexbox Example</h1>
    </header>
    <section>
      <article>
        <h2>Rust Programming Language 1</h2>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </article>
      <article>
        <h2>Rust Programming Language 2</h2>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </article>
      <article class="article-large">
        <div>
          <button>Smile</button>
          <button>Laugh</button>
          <button>Wink</button>
          <button>Shrug</button>
        </div>
        <div>
          <button class="button-down">Blush</button>
        </div>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem
          minus beatae nesciunt, fugiat maiores placeat ipsam labore, laudantium
          vitae reprehenderit tempora quae amet perspiciatis veritatis
          doloremque ab! Aspernatur, sed?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta ut
          soluta blanditiis reprehenderit? Praesentium nisi omnis et nemo quo
          saepe voluptatum nam, numquam, modi blanditiis tempora porro
          dignissimos ducimus culpa?
        </p>
      </article>
    </section>
  </body>
</html>
